<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Nuevo usuario</title>
    <style type="text/css" media="screen">
        body {
            margin: 0px !important;
        }

        .contenedor-nuevoUsuario,
        .contenedor-cambioEstatus {
            padding: 10px;
            height: 100vh;
        }

        .contenedor-nuevoUsuario {
            background: linear-gradient(167.63deg, #0066FF 34.73%, #2400FF 134.43%);
        }

        .contenedor-cambioEstatus {
            background: linear-gradient(194.57deg, #FE336D 31.05%, #F98257 128.77%);
        }


        .img-logo-center {
            font-size: 0pt;
            line-height: 0pt;
            text-align: center;
            padding: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .contenedor-mail {
            background-color: #FFF;
            text-align: center;
            width: 80%;
            margin: auto;
            border-radius: 20px;
            padding: 10px;
        }


        .tituloMail {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 5px;
            color: #000000;
        }

        .textoMail {
            margin: 10px 0px;
            padding: 12px;
            text-align: center;
            vertical-align: middle;
            letter-spacing: 3pt;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 32px;

            color: #000000;
        }

        .lblUser {
            font-weight: 700;
        }

        .spnEstatus {

            color: #FFF;
            border-radius: 5px;
            padding: 3px;
        }

        .btnMail {
            color: #FFF;
            padding: 10px 15px;
            border-radius: 10px;
            letter-spacing: 2px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 9pt;
            border: none;
        }

        .btn-nuevoUsuario {
            background: linear-gradient(288.34deg, #0066FF 16.5%, #2400FF 86.77%) !important;
            cursor: pointer !important;

        }

        .contenedor-leyenda {
            padding: 30px;
            text-align: center;
        }

        .lblcopyright {
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 7pt;
            line-height: 8px;
            letter-spacing: 2px;
        }
    </style>

</head>

<body class="body contenedor">
    <div class="contenedor-nuevoUsuario">
        <div class="img-logo-center">
            <img src="{{ asset 'images/Logo-R.png' }}" width="300" alt="" />
        </div>

        <div class="contenedor-mail">
            <h1 class="tituloMail">Invitación </h1>

            <img src="{{ asset '/images/imagen-mails.png' }}" width="300" alt="" />

            <div class="textoMail">
                <label class="lblUser">@{{ nombre }} </label>, haz sido invitado a participar en el proyecto {{ proyecto
                }} por {{ usuario }}.
            </div>

            <a href="{{ setPassword  user.email }}" target="_blank"  >
                <button class="btnMail btn-cambioEstatus btn-nuevoUsuario">Aceptar</button>
            </a>
        </div>

        <div class="contenedor-leyenda">
            <label class="lblcopyright">2020 Humanistics. Todos los Derechos Reservados.</label>
        </div>

    </div>
</body>

</html>